.flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-col {
	flex-direction: column;
}

.flex-full {
	display: flex;
	align-items: center;
	justify-content: center;
}
